<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="../../../assets/img/profilePictureTeacher/{{teacher.name}} {{teacher.familyname}}.png" alt="teacher" class="rounded-circle p-1 bg-primary" width="110">
                            <div class="mt-3">
                                <h4> {{teacher.name }} {{teacher.familyname }} </h4>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <form>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">ID</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input [(ngModel)]="teacher.id" name="id" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">nom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input [(ngModel)]="teacher.familyname" name="familyname" type="text" class="form-control" >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">prenom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input [(ngModel)]="teacher.name" name="name"  type="text"  class="form-control" >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Numero telephone </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input [(ngModel)]="teacher.phonenumber" name="phonenumber" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">adresse</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input [(ngModel)]="teacher.adress" name ="adress" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">date de naissance</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input [(ngModel)]="teacher.birthday" name ="birthday" type="text"  class="form-control" >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">matiere</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input [(ngModel)]="teacher.subject" name ="subject" type="text"  class="form-control" >
                            </div>
                        </div>
                        <div>
                        <input type="button" (click)="onUpdate()" value="modifier enseignant" class="btn btn-success" >
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>