<!-- header start -->
<header class="header_area">
  <div class="header_top pl-130 pr-130">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <ul class="left">
            <li>Partie backoffice</li>
            <li>Administrateur</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="sticky-header" class="header_bottom white_bg pl-130 pr-130">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-xl-2 col-lg-2 col-6">
          <div class="logo">
            <a href="#"><img src="assets/img/logo/logo.png" alt=""></a>
          </div>
        </div>
        <div class="col-xl-7 col-lg-8 d-none d-lg-block">
          <nav class="main_menu">
            <ul>
              <li class=" has_dropdown">
                <a href="#">Gestion Utilisateurs</a>
                <ul class="submenu">
                  <li><a routerLink ='home/etudiant'> Etudiant</a></li>
                  <li><a routerLink='home/enseignant'> Enseignant </a></li>
                </ul>
              </li>
              <li class=" has_dropdown">
                <a href="#">Blog</a>
                <ul class="submenu">
                  <li><a href="#">Effacer Commentaires</a></li>
                  <li><a href="#">Effacer Publications </a></li>
                </ul>
              </li>
              <li class=" has_dropdown">
                <a href="#">Affecter</a>
                <ul class="submenu">
                  <li><a href="#">Un etudiant dans un group</a></li>
                  <li><a href="#">Un Enseignant dans un group </a></li>
                </ul>
              </li>
              <li><a href="#">Groups</a></li>
              <li><a routerLink="home/matiere">Matiéres</a></li>
              <li><a routerLink="home/Paiement">Paiement</a></li>
              <li class=" has_dropdown">
                <a href="index.html">Caisse</a>
                <ul class="submenu">
                  <li><a href="#">Choisir Enseignant </a></li>
                  <li><a href="#">Elios Academy</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-xl-3 col-lg-2 col-6">
          <div class="header_right">
            <div class="account">
              <a routerLink="home/signin"><i class="fal fa-key"></i>account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
